.modal {
    position: absolute;
    background: aliceblue;
    border: 1px solid cornflowerblue;
    width: auto;
    left: 20%;
    right: 20%;
    top: 10%;
    z-index: 10;
}

.modal>h2 {
    background: cornflowerblue;
    color: white;
    padding: 15px 45px 15px 15px;
}

.modal>h2>div {
    display: inline-block;
}

.close {
    position: absolute;
    right: 15px;
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}

.modalBody {
    padding: 10px;
    overflow-y: auto;
}

.modalFooter {
    text-align: right;
    padding: 10px;
}


.backdrop {
    position: fixed;
    width: 100%;
    background: #00000080;
    height: 100%;
    top: 0;
    z-index: 1;
}