.meeting{
    display: grid;
    grid-template-columns: 100px auto 35px;
    align-items: center;
    border-bottom: 1px solid cornflowerblue;
    padding: 5px;
    margin: 0;
}

.meeting:nth-child(2n+1){
    background-color: #d1e7ff;
}

.remove{
    border: 2px solid red;
    color: red;
    border-radius: 20px;
    text-align: center;
    width: 25px;
    font-size: 26px;
    font-weight: 900;
    line-height: 24px;
    cursor: pointer;
}