.day {
    height: 100px;
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid cornflowerblue;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
}

.gray {
    color: gray;
    background-color: rgb(229,226,226);
}

.meetingLine {
    font-size: 13px;
    padding: 0 4px;
    margin: 4px 0;
    overflow: hidden;
    border-left: 4px solid cornflowerblue;
    white-space: nowrap;
}

.today {
    border: 3px solid cornflowerblue;
}